<div class="row">
  <div class="col-md-12">
    <div class="error-template">
      <h1>
        Oops!</h1>
      <h2>
        404</h2>
      <div class="error-details">
        Przepraszam, błędna ścieżka adresowa!
      </div>
    </div>
  </div>
</div>
